@import "_variables.scss";

.article-container {
  max-width: 50%;
  position: relative;
  top: 50px;
  margin: 0px auto 200px;
  line-height: 1.7;
  border-radius: 10px;
  padding: 0px 60px;
}

.article-byline {
  color: $gray;
}

// Styling for graphics
.article-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 28px 0;
}

.article-figure iframe,
.article-figure video,
.article-figure embed {
  width: 100%;
  // height: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
}

.article-figure figcaption {
  margin-top: 8px;
  font-size: 0.95rem;
  color: $gray;
  text-align: center;
  max-width: 880px;
}