@import "_variables.scss";

.article-container {
  max-width: 50%;
  position: relative;
  top: 50px;
  margin: 0px auto 200px;
  line-height: 1.7;
  border-radius: 10px;
  padding: 0px 60px;
}

.article-byline {
  color: $gray;
}

// Styling for graphics
.article-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 28px 0;
}

.article-figure iframe,
.article-figure video,
.article-figure embed {
  width: 100%;
  // height: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
}

.article-figure figcaption {
  margin-top: 8px;
  font-size: 0.95rem;
  color: $gray;
  text-align: center;
  max-width: 880px;
}

// Author section at bottom of articles
.author-section {
  margin-top: 60px;
  padding-top: 40px;
  border-top: 1px solid $gray;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.author-headshot {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  object-fit: cover;
  flex-shrink: 0;
}

.author-bio {
  flex: 1;
}

.author-bio h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: $black;
}

.author-bio p {
  margin: 0;
  line-height: 1.6;
  color: $black;
}