@import "_variables.scss";

// Set site defaults
body {
  font-family: 'Miriam Libre', 'Times New Roman', Times, serif;
  line-height: 1.5;
  margin: 0;
  color: $black;
  background: $background;
}

// This is for meta header, home link and menu button
.site-header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 100;
}

.logo-img {
  width: 3rem;
  border-radius: 40px;
  // background-color: $background;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
  display: block;
  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease;

  &:hover {
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
  }
}

.menu-toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  // background: $black;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: transform 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 102;

  &:hover {
    transform: scale(1.05);
    opacity: 0.7;
  }

  span {
    width: 20px;
    height: 2px;
    background: $black;
    display: block;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -400px;
  width: 250px;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Slightly transparent white */
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 101;
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.menu a:last-child {
  border-bottom: none;
}

.menu.active {
  right: 0;
}