@import "_variables.scss";

.events-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}

.calendar-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  border: 1px solid black;
  transition: box-shadow 0.3s ease;
  text-align: center;
}

.calendar-frame {
  width: 100%;
  height: 600px;
  border: none;
  background: white;
}

// .events-wrapper {
//   display: flex;
//   flex-direction: row;
// }

// .cal-container {
//   flex: 50%;
// }

// .cal-container iframe {
//   display: inline-block; /* Ensures the iframe is treated as an inline element for centering */
//   width: 50%;
//   // height: 80%;
// }