.article-content{
    margin-left: 20px;

}

.article-byline{
    font-weight: bold;
    margin-bottom: 10px;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}