:root {
    --primary: #4B8CDB;
    --primary-var: #0A2342;
    --secondary: #FFD050;
    --secondary-var: #91C7B1;
}

body {
    font-family: 'Noto Sans', Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    color: var(--primary-var);
    margin: 0;
}

header {
    background-color: var(--secondary);
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.home-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}

.nav-menu a {
    text-decoration: none;
}