.team-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 8px;
}

.team-member {
    background: white;
    flex: 1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
}

.member-photo {
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, $primary-blue, $purple-blue);
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
}

.team-member h3 {
    margin-bottom: 5px;
}

.member-role {
    font-weight: bold;
    margin-bottom: 15px;
}

.join-msg {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto 0;
}

// .team-member p:last-child {
//     color: #555;
//     font-size: 0.9rem;
// }

a {
    color: $medium-blue
}