<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <link rel="icon" href="{{ 'assets/petal_logo.png' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header class="site-header">
    <a href="/">
      <img class="logo-img" src="{{ '/assets/petal_logo.png' | relative_url }}">
    </a>
    <!-- This creates the triple line button in the top right -->
    <button class="menu-toggle" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </header>

  {{ content }}
  
</body>

</html>