---
layout: page
---

<div class="events-wrapper">
  <div class="calendar-container">
    <p>
      Relevant NYU & NYC Events!
    </p>
    <iframe
      src="https://calendar.google.com/calendar/embed?src=6eed81db1d07ac0dd636f42ec8854fa437f5253de25ceb53c162d07289e43c69%40group.calendar.google.com&ctz=America%2FNew_York"
      class="calendar-frame">
    </iframe>
  </div>
  <div class="calendar-container">
    <p>
      Upcoming PETAL Events!
    </p>
    <iframe
      src="https://calendar.google.com/calendar/embed?src=2ef558134425b43a91a03d833b8757741ff564a4da7eb9409ef0d734b27744b3%40group.calendar.google.com&ctz=America%2FNew_York"
      class="calendar-frame">
    </iframe>
  </div>
</div>