---
layout: page
---

<style>
  .iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

</style>

<p class = 'center'>
  Subscribe to our Google Calendar to stay updated on events happening in NYU and NYC!
</p>


<div class="iframe-container">
  <iframe
    src="https://calendar.google.com/calendar/embed?src=6eed81db1d07ac0dd636f42ec8854fa437f5253de25ceb53c162d07289e43c69%40group.calendar.google.com&ctz=America%2FNew_York"
    style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
  </iframe>
</div>