---
layout: page
---
<body>

 <div class="container">
     <div class="column">
      <!-- Content for the left column -->
        <h1> NYU Specific</h1>
        <p> <a href='https://docs.google.com/spreadsheets/d/1FXFmorpG5Q7x1MtQ58RIQuAR5QTccow6D9-LrURNBPc/edit?usp=sharing'> Recommended courses</a> (grad/undergrad)</p>
        <h2> Centers and Institutes </h2>
        <ol>
            <li style="text-align: left"><a href='https://techpolicynyu.org/'>Center on Tech Policy</a></li>
            <li style="text-align: left"><a href='https://cds.nyu.edu/'>Center for Data Science</a></li>
            <li style="text-align: left"><a href='https://ipk.nyu.edu/working-groups/ai-in-society/'>Institute for Public Knowledge: AI and Society</a></li>
        </ol>
    </div>
    <div class="column">
    <!-- Content for the right column -->
     <h1> General</h1>
        <h2>Career</h2>
        <ol>
            <li style="text-align: left"><a href = 'https://horizonpublicservice.org/'> Horizon Institute for Public Service </a></li>
            <li style="text-align: left"><a href = 'https://alltechishuman.org/'> All Tech is Human </a></li>
        </ol>
    </div>
    <div class="column">
        <h1>Learning</h1>
            <h2> Podcasts </h2>
                <ol>
                    <li style="text-align: left"><a href = 'https://www.nytimes.com/column/hard-fork'> Hard Fork - NYT</a></li>
                </ol>
    </div>
</div>

</body>