---
layout: page
---

<div class="team-grid">
  {% for member in page.team %}
  <div class="team-member">
    <img src="../assets/team/{{ member.name }}.{{ member.photo_ext | default: 'jpg' }}" alt="photo"
      class="member-photo">
    <h3>{{ member.name }}</h3>
    <p>{{ member.role }}</p>
    <p><a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
  </div>
  {% endfor %}
</div>

<div class="join-msg">
  <h2>Want to Join Our Team?</h2>
  <p>We're always looking for passionate individuals who want to make a difference in technology policy. Whether
    you're a student, professional, or simply interested in the field, there's a place for you at PETAL. Contact us at
    <a href=mailto:petal.leadership@nyu.edu> petal.leadership@nyu.edu</a> to learn more about available positions and
    volunteer opportunities.</p>

  <p> We are currently accepting applications for <strong>Marketing Director</strong>. The Marketing Director would be responsible for updating our social media and maintaining our website. The application form is available <a href = 'https://forms.gle/2KiUNwYEtjnFShVp7'>here</a>. Applications close on February 6. </p>
</div>